<div class="beerContainer beerDivs">
      <img src="{{image_url}}" alt="Card image cap">
      <div>
        <h2 class="card-title">{{name}}</h2>
        <h3 class="card-title">{{tagline}}</h3>
        <p class="card-text">{{description}}</p>
      </div>
</div>