<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>IronBeer</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="/beers">Beers</a></li>
  <li><a href="/random-beer">Random Beer</a></li>
</ul>

{{{ body }}}

<footer>Dev by Arthur</footer>



</body>
</html>